<div id="contact-us" class="grid sm:grid-cols-2 mx-4 sm:mx-8 lg:mx-20">
  <div class="sm:order-2 text-right">
    <h2 class="font-berlin-demi">CONTÁCTANOS</h2>
    <hr class="border-t-blue-primary border-t-4 rounded-xl" />

    <p class="py-2">
      Tu opinión y tus necesidades son importantes para nosotros. Ya sea que
      necesites información sobre nuestros servicios, quieras compartir tus
      ideas o requieras apoyo, estamos aquí para ti.
    </p>
    <p>
      <span class="font-berlin-demi">Dirección:</span> Calle 61 #48 - 53 Prado
      Centro - Medellín
    </p>
    <p>
      <span class="font-berlin-demi">E-mail:</span>
      fuerzaincluyentecomunidad&#64;gmail.com
    </p>
    <p><span class="font-berlin-demi">Linea de ateción:</span> 3196490132</p>
  </div>

  <div class="flex flex-col items-center justify-center gap-4 md:gap-8 pt-4">
    <div class="flex flex-row gap-8 md:gap-12">
      <a
        href="https://www.facebook.com/profile.php?id=100064495130030"
        target="_blank"
      >
        <img
          src="icons/facebook.svg"
          alt=""
          class="h-10 w-10 xl:h-14 xl:w-14"
        />
      </a>
      <a
        href="https://www.instagram.com/fuerza_incluyente?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank"
        ><img
          src="icons/instagram.svg"
          alt=""
          class="h-10 w-10 xl:h-14 xl:w-14"
      /></a>
      <a href="https://x.com/FuerzaIncluyent" target="_blank">
        <img src="icons/x.svg" alt="" class="h-10 w-10 xl:h-14 xl:w-14" />
      </a>
    </div>
    <div class="flex flex-row gap-8 md:gap-12">
      <a
        href="https://api.whatsapp.com/send?phone=573196490132&text=Hola,%20quiero%20más%20información%20sobre%20la%20corporación%20de%20fuerza%20incluyente"
        target="_blank"
      >
        <img
          src="icons/whatsapp.svg"
          alt=""
          class="h-10 w-10 xl:h-14 xl:w-14"
        />
      </a>
      <a
        href="https://www.youtube.com/@fuerzaincluyentecomunidad8919"
        target="_blank"
      >
        <img src="icons/youtube.svg" alt="" class="h-10 w-10 xl:h-14 xl:w-14" />
      </a>
      <div class="h-10 w-10 xl:h-14 xl:w-14"></div>
    </div>
  </div>
</div>
