<div class="grid sm:grid-cols-2 mx-4 sm:mx-8 lg:mx-20">
  <div class="sm:order-2 text-right">
    <h2 class="font-berlin-demi">CONTÁCTANOS</h2>
    <hr class="border-t-blue-primary border-t-4 rounded-xl" />

    <p class="py-2">
      Tenemos un equipo dispuestos alos datos estadísticos más actualizados
      sobre personas refugiadas, solicitantes de asilo, desplazadas internas y
      apátridas.
    </p>
    <p>
      <span class="font-berlin-demi">Dirección:</span> Calle 61 #48 - 53 Prado
      Centro - Medellín
    </p>
    <p>
      <span class="font-berlin-demi">E-mail:</span>
      fuerzaincluyentecomunidad&#64;gmail.com
    </p>
    <p><span class="font-berlin-demi">Linea de ateción:</span> 3196490132</p>
  </div>

  <div class="flex flex-col items-center justify-center gap-2 sm:gap-4 md:gap-8 pt-2">
    <div class="flex flex-row gap-4 md:gap-12">
      <img src="icons/facebook.svg" alt="" class="h-8 w-8 sm:h-12 sm:w-12" />
      <img src="icons/instagram.svg" alt="" class="h-8 w-8 sm:h-12 sm:w-12" />
      <img src="icons/x.svg" alt="" class="h-8 w-8 sm:h-12 sm:w-12" />
    </div>
    <div class="flex flex-row gap-4 md:gap-12">
      <img src="icons/whatsapp.svg" alt="" class="h-8 w-8 sm:h-12 sm:w-12" />
      <img src="icons/youtube.svg" alt="" class="h-8 w-8 sm:h-12 sm:w-12" />
      <img src="icons/linkedin.svg" alt="" class="h-8 w-8 sm:h-12 sm:w-12" />
    </div>
  </div>
</div>
