<footer
  class="bg-blue-primary text-white flex flex-col text-center px-16 sm:px-40 py-4 text-sm sm:text-base"
>
  <h2 class="font-berlin-demi">CORPORACIÓN FUERZA INCLUYENTE</h2>
  <p>La Fuerza Que nos Une</p>
  <p><span class="font-berlin-demi">NIT:</span> 901812136-6</p>
  <hr class="border-t-white border-t-2 rounded-xl my-2" />
  <p class="text-xs sm:text-sm">
    Política de privacidad - Términos y condiciones de uso - Copyright
  </p>
  <p class="font-poppins-light text-xs pt-2">DBC Software Solution</p>
</footer>
