<header class="flex flex-col sm:flex-row font-berlin-demi sm:bg-white justify-between sm:px-4 lg:px-16">
  <div class="bg-blue-primary sm:bg-white h-20 flex items-center justify-center">
    <h1 class="text-white sm:text-black tracking-wide text-xl sm:text-3xl text-center">
      CORPORACIÓN FUERZA INCLUYENTE
    </h1>
  </div>
  <div class="flex flex-row items-center justify-center gap-4 my-4 sm:my-0">
    <button class="bg-yellow-secondary rounded-xl h-12 px-4 text-black text-sm">
      DONACIONES
    </button>
    <button class="bg-green-tertiary rounded-xl h-12 px-4 text-black text-sm">
      INFORMACIÓN LEGAL
    </button>
  </div>
</header>

<app-main-menu/>
