<div
  class="grid grid-rows sm:grid-rows-none sm:grid-cols-2 mx-4 sm:mx-8 lg:mx-20 xl:mx-44 gap-4 sm:gap-0 py-4"
>
  <div class="flex flex-col gap-4">
    <section class="text-left sm:text-left">
      <h2 class="font-berlin-demi">MISIÓN</h2>
      <p class="sm:text-left">
        Fortalecer los procesos de inclusión social para reivindicar los
        derechos de las personas con discapacidad, familias, cuidadores y
        apoyos, generando estrategias integrales, para la incorporación laboral
        y formación para la autonomía; vida independiente, cuidado y asistencia,
        mediante procesos de desarrollo humano.
      </p>
    </section>
    <section class="text-right sm:text-left">
      <h2 class="font-berlin-demi">VISIÓN</h2>
      <p class="sm:text-left">
        Para el año 2030 la CORPORACIÓN FUERZA INCLUYENTE será una organización
        reconocida por brindar servicios de transformación social, cambiando los
        imaginarios acerca de las competencias de las personas con discapacidad,
        para que sean reconocidos como población competente y autónoma.
      </p>
    </section>
  </div>
  <div class="flex justify-center">
    <img
      src="images/logo.png"
      alt="Logo"
      class="h-auto max-w-full w-52 sm:w-60 md:w-72 lg:w-92 object-contain"
    />
  </div>
</div>
