<dialog id="legal_information_modal" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <div class="flex flex-col gap-2 max-h-80 sm:max-h-none overflow-auto">
      <h2 class="font-berlin-demi">INFORMACIÓN LEGAL</h2>
      <p>Te invitamos a consultar nuestra información legal.</p>

      @for (item of legalInformation(); track $index) {
        <section class="flex flex-col sm:flex-row sm:gap-2 sm:items-center">
          <h2 class="font-berlin-demi">{{item.title}}</h2>
          <a [href]="item.path" target="_blank" class="text-xs text-blue-primary">¡Conoce aquí!</a>
        </section>
      }

    </div>
    <div class="modal-action justify-center">
      <form method="dialog">
        <button class="btn">Cerrar</button>
      </form>
    </div>
  </div>
</dialog>
