<div
  class="bg-blue-primary flex flex-col items-center py-4 sm:py-8 px-4 lg:px-20"
>
  <div class="text-center pb-2">
    <h2 class="font-berlin-demi text-yellow-secondary">¿QUIÉNES SOMOS?</h2>
    <p class="text-white">
      Somos una organización con sentido social que trabaja por la
      reivindicación de los derechos humanos de las personas con discapacidad,
      generando procesos de inclusión social a través de incidencia y formación,
      que aporten al desarrollo y mejoramiento de la calidad de vida de esta
      población.
    </p>
  </div>
  <div>
    <button
      class="bg-yellow-secondary rounded-xl h-12 px-4 text-black text-sm font-berlin-demi"
    >
      ¡CONÓCENOS MÁS!
    </button>
  </div>
</div>
