<div class="grid gap-2 sm:gap-8 lg:gap-16 sm:grid-cols-2 py-4 md:py-8 lg:py-12 bg-blue-secondary">
  <div class="flex justify-center sm:justify-end">
    <iframe
      class="h-48 sm:h-88 sm:w-72 md:w-92 lg:w-120 xl:w-144"
      src="https://www.youtube.com/embed/videoseries?si=nzB1Mu7XmY46A_Hm&amp;list=PL8f4k9u5AmqTla4lzjjv-YQs_CKeDMCJN"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="flex justify-center sm:justify-start">
    <iframe
      class="h-48 sm:h-88 sm:w-72 md:w-92 lg:w-120 xl:w-144"
      src="https://www.youtube.com/embed/videoseries?si=nzB1Mu7XmY46A_Hm&amp;list=PL8f4k9u5AmqTla4lzjjv-YQs_CKeDMCJN"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>
